*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: sans-serif;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lemon-square {
  float: left;
  width: 39%;
  padding-bottom: 39%;
  background-color: #9b9b9b;
  margin-right: 1%
}

.content,
.purple-header,
.purple-body,
.box-content {
  position: relative;
}

.content > div,
.purple-header > div,
.purple-body > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.blue-box {
  width: 80%;
  padding-bottom: 80%;
  background-color: #a8c2e1;
  margin: 9%;
  border: 2px solid #498fe2;
  color: #9331f9;
  position: relative;
}

h1 {
  font-size: 1.3em;
  margin: 1.5em;
}

img {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#lemon-text {
  position: absolute;
  bottom: 0%;
  margin: 5%;
  background-color: #d8d8d8;
  padding: 1em;
  border: 2px solid #9b9b9b;
}

.purple-box {
  float: right;
  width: 59%;
  padding-bottom: 35%;
  border: 1px solid #9331f9;
  margin-left: 1%;
}

.purple-header {
  color: #9331f9;
  font-size: .5em;
  border-bottom: 1px solid #9331f9;
  height: 4em;
}

ul.box-list {
  float: right;
  list-style-type: none;
  position: absolute;
  top: 0;
  right: 0;
}

ul.box-list li {
  display: inline;
  margin: .5em;
}

h2 {
  position: absolute;
  top: 0;
  right: 50%;
}

.box-content p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30%;
  transform: translate(-50%, -50%);
}
