*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
            font-family: sans-serif;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.lemon-square {
  width: 40%;
  padding-bottom: 40%;
  background-color: #9b9b9b;
}

.content {
  position: relative;
}

.content > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

.blue-box {
  width: 80%;
  padding-bottom: 80%;
  background-color: #a8c2e1;
  margin: 9%;
  border: 2px solid #498fe2;
  color: #9331f9;
  position: relative;
}

h1 {
  font-size: 1.3em;
  margin: 1.5em;
}

img {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#lemon-text {
  position: absolute;
  margin: 5%;
  bottom: 0%;
  background-color: #d8d8d8;
  padding: 1em;
  border: 2px solid #9b9b9b;
}

.purple-box {
  float: right;
  width: 50%;
  padding-bottom: 50%;
}
